<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

  <div class="card bg-dark text-white">
    <div class="card-header" th:text="${title}"></div>
    <div class="card-body">
      <h4 class="card-title">
        Agregar Bicicleta
      </h4>
    <div class="container">
      <table class="table table-dark table-bordered">
        <thead th:if="${!bikes.isEmpty()}">
        <tr>
          <th>ID</th>
          <th>Tamaño</th>
          <th>Marca</th>
          <th>Disponibilidad</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody class="text-center" th:if="${bikes.isEmpty()}">
        <h2>
          No hay bicicletas en la lista!
        </h2>
        </tbody>
        <tbody th:if="${!bikes.isEmpty()}">
        <tr th:each="bike: ${bikes}">
          <td th:text="${bike.id}"></td>
          <td th:text="${bike.size}"></td>
          <td th:text="${bike.branch}"></td>
          <td th:text="${bike.availableFlag}"></td>
          <td><a class="btn btn-info btn-sm" th:href="@{/admin/newBike/}+${bike.id}">EDITAR</a></td>
          <td><a class="btn btn-danger btn-sm" onclick="return confirm('Esta seguro?')"
                 th:href="@{/admin/bike/delete/}+${bike.id}">ELIMINAR</a></td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a class="btn btn-outline-info btn-xs" th:href="@{/admin/newBike}">AGREGAR BICICLETA</a>
      </div>
    </div>
    </div>
  </div>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>