<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
  <title th:text="${titulo}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mobike</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarDropdown" role="button">
          Dropdown
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <form method="post" th:action="@{/register}" th:object="${usuario}">


    <input th:field="*{id}" type="hidden">


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">NOMBRE</label>
      <div class="col-sm-6">
        <input class="form-control" id="name" name="name" th:field="*{name}" type="text"/>

      </div>
    </div>
    <div
      th:if="${error != null && error.containsKey('name')}"
      th:text="${error.name}"
    >
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">APELLIDO</label>
      <div class="col-sm-6">
        <input class="form-control" id="lastname" name="lastname" th:field="*{lastname}" type="text"/>

      </div>
    </div>
    <div
      th:if="${error != null && error.containsKey('lastname')}"
      th:text="${error.lastname}"
    >
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">EMAIL</label>
      <div class="col-sm-6">
        <input class="form-control" id="email" name="email" th:field="*{email}" type="text"/>

      </div>
    </div>
    <div
      th:if="${error != null && error.containsKey('email')}"
      th:text="${error.email}"
    >
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">PASSWORD</label>
      <div class="col-sm-6">
        <input class="form-control" id="password" name="password" th:field="*{password}" type="text"/>

      </div>
    </div>
    <div
      th:if="${error != null && error.containsKey('password')}"
      th:text="${error.password}"
    >
    </div>



    <div
      th:if="${error != null && error.containsKey('password')}"
      th:text="${error.password}"
    >
    </div>


    <div>
      <input class="btn btn-outline-success" type="submit" value="GUARDAR"/>
    </div>
  </form>

</div>


</body>
</html>